<div class="panel panel-default">
    <div class="panel-heading">
        Calendário de Agendamentos
    </div>
    <div class="panel-body">
        <div class="page-header">

            <div class="pull-right form-inline">
                <div class="btn-group">
                    <button class="btn btn-primary" data-calendar-nav="prev"><< Anterior</button>
                    <button class="btn" data-calendar-nav="today">Hoje</button>
                    <button class="btn btn-primary" data-calendar-nav="next">Próximo >></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning" data-calendar-view="year">Ano</button>
                    <button class="btn btn-warning active" data-calendar-view="month">Mês</button>
                    <button class="btn btn-warning" data-calendar-view="week">Semana</button>
                    <button class="btn btn-warning" data-calendar-view="day">Dia</button>
                </div>
            </div>

            <h3></h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
