<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="augedbContext" connectionString="server=localhost;user id=root;password=worms69;persistsecurityinfo=True;database=augedb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>